---

---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Vibrant - Your friendly guide to understanding the internet and your smartphone</title>
		<link rel="stylesheet" href="src/pages/styles/global.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
	</head>
	<body>
		<header class="m-4 flex flex-row justify-center gap-4">
			<a class="w-40 p-2 text-center font-normal" href="#">+ Start</a>
			<a class="w-40 p-2 text-center font-normal" href="#">Sponsors</a>
			<div class="size-10 bg-[url(https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2pvYjcyNi0xMDEtcC5wbmc.png)] bg-contain bg-center bg-no-repeat"></div>
			<a class="w-40 p-2 text-center font-normal" href="#">Join</a>
		</header>
		
		<main class="m-5 mt-60">
			<h1 class="bg-gradient-to-t from-blue-800 to-white bg-clip-text text-9xl font-bold text-transparent lg:text-[10rem]">Vibrant</h1>
			<p class="font-medium">Your friendly guide to understanding the internet and your smartphone.</p>
			<p class="pt-10">Start your digital journey with us today!</p>
			<div class="h-0.5 bg-gradient-to-r from-blue-800 to-white"></div>
		</main>
		
		<section class="m-5 my-32 grid lg:mt-32 lg:mr-5 lg:place-content-end">
			<h2 class="text-6xl font-bold">Digital help with care</h2>
			<p class="my-5 lg:w-96">Vibrant connects seniors with today's tech, building confidence and safety for their digital adventures.</p>
		</section>
		
		<section class="m-5 grid grid-cols-5 gap-4">
			<div class="col-span-5 h-[40rem] rounded-2xl bg-blue-400 p-2"></div>
			<div class="col-span-2 h-80 rounded-2xl bg-blue-100 p-2"></div>
			<div class="col-span-3 h-80 rounded-2xl bg-blue-300 p-2"></div>
			<div class="col-span-5 h-40 rounded-2xl bg-blue-800 p-2"></div>
		</section>
		
		<footer class="mt-44 flex h-auto flex-col bg-gray-50">
			<section class="m-20 flex h-auto flex-col rounded-2xl bg-blue-300 xl:mx-96">
				<h3 class="m-5 text-5xl font-bold">Link up with us and help grandparents stop asking why their phone 'ate' their photos.</h3>
				<form action="#" class="m-5 flex flex-col">
					<label class="pb-2 text-lg font-medium" for="name">Name</label>
					<input class="h-10 rounded-2xl bg-gray-50" type="text" name="name" id="name" />
					<label class="pt-5 pb-2 text-lg font-medium" for="name">Email</label>
					<input class="mb-5 h-10 rounded-2xl bg-gray-50" type="text" name="name" id="name" />
					<button type="submit" class="h-10 overflow-hidden rounded-2xl bg-blue-50 text-base">Submit</button>
				</form>
			</section>
			<div class="m-5 h-0.5 bg-gray-200"></div>
			<div class="m-5 grid grid-cols-4 place-items-center">
				<div class="size-10 bg-[url(https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2pvYjcyNi0xMDEtcC5wbmc.png)] bg-contain bg-center bg-no-repeat"></div>
				<a class="hover:underline" href="github.com/oxtornado/vibrant">Github</a>
				<a class="hover:underline" href="">Docs</a>
				<a class="hover:underline" href="">Discord</a>
			</div>
		</footer>
	</body>
</html>
