@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
    --color-background: #FBFBFB;
    --color-text: #0B1516;
    --color-primary: #61abb1;
    --color-secondary: #ab99cd;
    --color-accent: #b684c2;
}
